.menu ul li{
  position: relative;
}
.menu ul li a{
  transition: all 0.5s ease;
  padding: 5px 10px;
}
/* HOVER EFFECT 1 */
.menu ul li a:hover{
  background-color: white;
  color: black;
}

.menu ul li a::before{
content: '';
position: absolute;
bottom: 4px;
left: 6px;
height: 12px;
width: 12px;
border: 2px solid white;
border-width: 0 0 3px 3px;
opacity: 0;
transition: all 0.5s ease;
}
.menu ul li a:hover::before{
  opacity: 1;
  bottom: -10px;
  left: -6px;
}

.menu ul li a::after{
  content: '';
  position: absolute;
  top: 4px;
  right: 6px;
  height: 12px;
  width: 12px;
  border: 2px solid white;
  border-width: 3px 3px 0 0;
  opacity: 0;
  transition: all 0.5s ease;
}
.menu ul li a:hover::after{
  opacity: 1;
  top: -10px;
  right: -6px;
}
/* HOVER EFFECT 2 */
/* .menu ul li a::before{
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 1s ease;

}
.menu ul li a:hover::before,
.menu ul li a:hover::after{
  transform: scaleX(1);
}
.menu ul li a::after{
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.5s ease;
} */

.HeaderNavContainer{
    background: url("../public/assets/images/hall.jpg");
    background-position: center center;
    background-size: contain;
    position: relative;
    z-index: 0;
  }
  .HeaderNavContainer::before{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,53,128,1) 0%, rgba(0,53,128,0.8) 47%, rgba(0,53,128,0) 100%);
    z-index: -1;
  }
.active{
    border : 2px solid white;
    padding: 10px 10px;
    border-radius: 58px;
}
.headerSearch,
.options{
    border: 3px solid #febb02;
}
.date-range,
.options{
    z-index: 2;
}
/* Home page banners */
.featuredItem{
    z-index: 1;
  }
  .featuredItem::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0.8746849081429446) 0%, rgba(5,5,5,0.7) 40%, rgba(0,0,0,0) 100%);
  
  }
  .LoginWrapper{
    background: url("../public/assets/low-poly-grid-haikei.svg"); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.container {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter:saturate(100%) blur(5px);
  }

.qahub-header{
  background: url("../public/assets/action.png"); 
}
.discussion-header{
  background: url("../public/assets/laptops-g8acb4fbf3_1280.jpg"); 
}
